# Server configuration
PORT=3000

# MongoDB Connection String
MONGODB_URI="mongodb://localhost:27017/DBSTracker"

# External API configuration
DBS_API_URL="https://www.dbs.com.tw/tw-rates-api/v1/api/twrates/latestForexRates"
FETCH_INTERVAL_MS=300000

# Environment variables
# NODE_ENV="development" # or "production"
# DISABLE_HMR="false" # Set to "true" to disable Vite Hot Module Replacement
